/* iniciar */
.back-video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}

h1{
    font-size: 160px;
    color: #fff;
    font-weight: 600;
    transition: 0.5s;
    padding-bottom: 10px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 150px;
    box-sizing: border-box;
    overflow: hidden;
}

h1:hover{
    -webkit-text-stroke: 2px #fff;
    color: transparent;
}

.botaoIniciar{
    align-content: center;
    text-decoration: none;
    background: none;
    font-size: 20px;
    border: 2px solid #fff;
    border-radius: 10px;
    padding: 14px 70px;
    margin-top: 20px;
    margin-left: 560px;
    cursor: pointer;
    text-transform: uppercase;
    transition: color 0.5s linear;
    position: relative;
}

.botaoIniciar:hover{
    color: #fff;
}

.botaoIniciar::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #f9724a;
    z-index: -1;
    transition: transform 0.4s;
    transform-origin: 0 0;
    transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
    transform: scaleX(0);
}

.botaoIniciar:hover::before{
    transform: scaleX(1);   
}

a{
    text-decoration: none;
    color: #61304B; 
}

/* prestador */
body{
    background-image: url(../media/BLURRR.png);
    background-size: cover;
    background-position: center;
}

h2{
    font-family: 'Poppins', sans-serif;
}

p{
    font-size: 25px;
    text-align: center;
    margin-bottom: 100px;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 10px;
}

.box{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}


.home{
    width: 50px;
}

.icone{
    width: 60px;
    align-content: center;
    margin-bottom: 100px;
}

.botao{
    font-family: 'Poppins', sans-serif;
    padding: 10px 20px;
    margin-bottom: 30px;
    font-size: 15px;
    border-radius: 10px;
    border: 2px solid #fff;
    text-decoration: none;
    background: none;
    cursor: pointer;
    text-transform: uppercase;
    transition: color 0.5s linear;
    position: relative;
}

.botao-posicao{
    position: absolute;
    bottom: 10px;
    right: 42%;
    width: 15vw;
}

.botao:hover{
    color: #fff;
}

.botao::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #f9724a;
    z-index: -1;
    transition: transform 0.4s;
    transform-origin: 0 0;
    transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
    transform: scaleX(0);
}

.botao:hover::before{
    transform: scaleX(1);   
}

a{
    text-decoration: none;
    color: #61304B; 
}

.paginaPrestador{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 40%;
}

.label{
    text-wrap: nowrap;
    font-family: 'Poppins', sans-serif;
    font-size: 32px;
    margin-bottom: 30px;
    margin-top: 130px;
}

.input{
    border-radius: 10px;
    border: 2px solid #fff;
    text-decoration: none;
    padding: 10px;
    margin-bottom: 10px;
    width: 100%;
}

/*recompensas */
.secao{
    display: none;
    background-color: rgba(255, 255, 255, 0.2);
    border: 1px solid #ccc;
    border-radius: 10px;
    transition: all 0.8s ease;
    opacity: 1;
    transform: scaleY(1);
    width: 90vw;
    height: 400px;
    padding: 2rem 3rem 1rem 3rem; 
}

.lista-servicos {
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: start;
    align-items: start;
    width: 100%;
    height: 80%;
}

.checkmark{
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: white;
    border-radius: 2px;
}

.nomeServico .checkmark:after{
    content: "";
    position: absolute;
    display: none;
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.nomeServico input:checked ~ .checkmark:after {
    display: block;
}

.nomeServico{
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
}

.nomeServico input{
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.nomeServico:hover input ~ .checkmark{
    background-color: aliceblue;
}

.nomeServico input:checked ~ .checkmark{
    background-color: #f9724a;
}

